<!-- ###HTMLMAIL_BODY### begin-->
###HTMLMAIL_DISPLAY_CAT_57###

###HTMLMAIL_DISPLAY_CAT_2###

###HTMLMAIL_DISPLAY_CAT_3###
<!-- ###HTMLMAIL_BODY### end-->

<!-- ###HTMLMAIL_NEWS_CAT_57### begin-->
	<div class="cat_title">		###CAT_TITLE###	</div>
	<div class="cat_body">		###CAT_BODY###	</div>		
<!-- ###HTMLMAIL_NEWS_CAT_57### end-->

<!-- ###HTMLMAIL_NEWS_CAT_57_ITEM### begin-->	
	<div class="item">	
		<div class="date">		###DATE###	</div>
		<div class="time">		###TIME###	</div>					
		<div class="title">		###TITLE###	</div>
		<div class="image">		###IMAGE###	</div>
		<div class="short">		###SHORT###	</div>
		<div class="more">		###MORE###	</div>				
		<div class="body">		###BODY###	</div>			
		<div class="from">		###EVENT_FROM_DATE### ###EVENT_FROM_TIME###	</div>	
								###EVENT_TO_TEXT###
		<div class="to">		###EVENT_TO_DATE### ###EVENT_TO_TIME###		</div>	
		<div class="organizer">	###EVENT_ORGANIZER###	</div>			
	</div>
<!-- ###HTMLMAIL_NEWS_CAT_57_ITEM### end-->		

<!-- ###HTMLMAIL_NEWS_CAT_2### begin-->
	<div class="cat_title">		###CAT_TITLE###	</div>
	<div class="cat_body">		###CAT_BODY###	</div>			
<!-- ###HTMLMAIL_NEWS_CAT_2### end-->

<!-- ###HTMLMAIL_NEWS_CAT_2_ITEM### begin-->	
	<div class="item">	
		<div class="date">		###DATE###	</div>
		<div class="time">		###TIME###	</div>					
		<div class="title">		###TITLE###	</div>
		<div class="image">		###IMAGE###	</div>
		<div class="short">		###SHORT###	</div>
		<div class="more">		###MORE###	</div>				
		<div class="body">		###BODY###	</div>	
		<div class="from">		###EVENT_FROM_DATE###	</div>	
								###EVENT_MIDDLE_TEXT###
		<div class="to">		###EVENT_TO_DATE###		</div>	
		<div class="organizer">	###EVENT_ORGANIZER###	</div>								
	</div>
<!-- ###HTMLMAIL_NEWS_CAT_2_ITEM### end-->	

<!-- ###HTMLMAIL_NEWS_CAT_3### begin-->
	<div class="cat_title">		###CAT_TITLE###	</div>
	<div class="cat_body">		###CAT_BODY###	</div>			
<!-- ###HTMLMAIL_NEWS_CAT_3### end-->		

<!-- ###HTMLMAIL_NEWS_CAT_3_ITEM### begin-->	
	<div class="item">	
		<div class="date">		###DATE###	</div>
		<div class="time">		###TIME###	</div>					
		<div class="title">		###TITLE###	</div>
		<div class="image">		###IMAGE###	</div>
		<div class="short">		###SHORT###	</div>
		<div class="more">		###MORE###	</div>				
		<div class="body">		###BODY###	</div>	
		<div class="from">		###EVENT_FROM_DATE###	</div>	
								###EVENT_MIDDLE_TEXT###
		<div class="to">		###EVENT_TO_DATE###		</div>	
		<div class="organizer">	###EVENT_ORGANIZER###	</div>							
	</div>
<!-- ###HTMLMAIL_NEWS_CAT_3_ITEM### end-->
				

<!-- ###HTMLMAIL### begin-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEADER>
		<LINK href="###CSS###" rel="stylesheet" media="screen">
		<TITLE>###TITLE###</TITLE>
	</HEADER>
	<BODY>
		<DIV class="newspage">
			<DIV class="newsletternumber">###NEWSLETTERNUMBER###</DIV>
			<DIV class="pageheader">###IMAGE###</DIV>
			<DIV class="newstitle">###TITLE###</DIV>
			<DIV class="newsdate">###DATE###</DIV>
			<DIV class="newsheader">###NEWSHEADER###</DIV>
			<DIV class="newslist">###NEWSLIST###</DIV>
			<DIV class="newsfooter">###NEWSFOOTER###</DIV>
			<DIV class="profilemsg">###PROFILEMESSAGE###</DIV>
			<DIV class="profilelink">###PROFILELINK###</DIV>
		</DIV>
	</BODY>
</HTML>
<!-- ###HTMLMAIL### end-->



<!-- ###PLAINMAIL### begin-->
###TITLE###
(###DATE###)

###NEWSLETTERNUMBER###
---------------------------------------------------------------------------
###NEWSHEADER###
---------------------------------------------------------------------------
###NEWSLIST###
---------------------------------------------------------------------------
###NEWSFOOTER###
---------------------------------------------------------------------------
###PROFILEMESSAGE###

###PROFILELINK###

<!-- ###PLAINMAIL### end-->

